
h2 {
                color: red;
                font-size: 30px;
}
.standout {
                color: coral;
                font-size: 30px;
}

.image1:hover{
              border-radius: 50%;
}
.image2:hover {
              border-radius: 30px;
}
.image3:hover {
              opacity: 0.5;
}
.image4:hover {
              filter: grayscale(70%);
}
.image5:hover {
              filter: blur(5px);
}